.menu li a{
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.menu li a:active{
    background-color: hsla(var(--bc) / 0.1);
}

.menu li a.selected{
    background-color: hsla(var(--bc) / 0.1);
}