@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main: #202124;
    --main-darker: #1e1e1e;
    --secondary: #303134;
    --secondary-darker: #2021246a;
    --border-color: #343434;
}

.bg-main{
    background-color: var(--main);
}

.bg-main-darker{
    background-color: var(--main-darker);
}

.bg-secondary{
    background-color: var(--secondary);
}

.bg-secondary-darker{
    background-color: var(--secondary-darker);
}

.border-main{
    border-color: var(--border-color);
}

.reflex-splitter {
    border-color: var(--border-color) !important;
    outline: none !important;
    transition: outline .1s !important;
}

.reflex-splitter:hover {
    outline: 3px solid #2563eb !important;
    outline-offset: -4px !important;
}

.reflex-splitter.active {
    outline: 3px solid #2563eb !important;
    outline-offset: -4px !important;
}